<h1 class="title">CONTACT US</h1>
<div class="message">
  <div>
    <h2>
      Axle Bank is a leading Canadian financial services provider. We offer our
      clients a secure and friendly online banking experience and wide array of
      products.
    </h2>
  </div>
  <div>
    <h3>
      To contact us, please :
      <ul>
        <li>Call : (514)123-4567</li>
        <li>Email : axle.bank@gmail.com </li>
        <li>Location : 122 rue Axle, H7K 1F8, Mtl, Qc, Canada </li>
      </ul>
    </h3>
  </div>
</div>
