<form [formGroup]="transferForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>From account : </mat-label>
      <mat-select formControlName="fromAccountNumber">
        <mat-option
          *ngFor="let option of accountsFrom"
          value="{{ option.value }}"
          >{{ option.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>To account : </mat-label>
      <mat-select formControlName="toAccountNumber">
        <mat-option
          *ngFor="let option of accountsTo"
          value="{{ option.value }}"
          >{{ option.label }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="formField" appearance="outline">
      <mat-label> Amount </mat-label>
      <input matInput type="number" formControlName="amount" />
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
      <mat-error *ngIf="transferForm.get('amount')?.hasError('required')"
        >This field is required
      </mat-error>
    </mat-form-field>
  </p>
</form>
<button
  color="primary"
  mat-raised-button
  (click)="submit()"
  [disabled]="this.transferForm.invalid"
>
  Transfer money
</button>
