<mat-accordion class="headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> New Contact</mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="contactForm">
      <mat-form-field appearance="outline">
        <mat-label>Contact Name : </mat-label>
        <input matInput type="text" formControlName="contactName"/>
        <mat-error *ngIf="contactForm.get('contactName')?.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mobile Phone: </mat-label>
        <input matInput type="text" formControlName="mobilePhone"/>
        <mat-error *ngIf="contactForm.get('mobilePhone')?.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label> Email Address </mat-label>
        <input matInput type="text" formControlName="emailAddress" />
        <mat-error *ngIf="contactForm.get('emailAddress')?.hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        (click)="addContact()"
        [disabled]="contactForm.invalid"
      >
        Add contact
      </button>
    </form>
  </mat-expansion-panel>
</mat-accordion>